body {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    color: var(--text-color);
}

.card {
    padding: 28px;
    border-radius: var(--radius);
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}


.btn {
    font-weight: 500;
    border: 0;
    cursor: pointer;
    border-radius: var(--radius);
    padding: 8px 16px;
    transition: background-color 0.4s;
}

.btn-primary {
    background-color: var(--primary);
    color: white;

}

.btn-secondary {
    background-color: var(--secondary);
    color: white;
}

.btn-secondary:hover {
    background-color: var(--secondary-dark);
    color: white;
}

.btn-outline-primary {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: white;
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--dark);
}

input, textarea {
    border: var(--border);
    font-family: var(--font-family);
    border-radius: 6px;
    padding: 12px;
}

button[disabled] {
    opacity: 0.5;
}

.logo{
    width: auto;
    height: 70px;
}


